volumes:
  ui:

services:
  backend:
    build:
      context: ./services/backend/
      dockerfile: ./Dockerfile
    command: ros2 launch cart_launch autonomous_launcher.launch.py #can be overriden with $BACKEND_COMMAND
    environment:
      - BACKEND_COMMAND #will override the default command above
      - $HOME/.ssh:/root/.ssh
      - $HOME/.gitconfig:/root/.gitconfig
      - DISPLAY
      - XDG_RUNTIME_DIR
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - $HOME/.Xauthority:/root/.Xauthority
      - /dev:/dev
      - /home/jacart/jacart-project/dev_ws:/dev_ws
    privileged: true
    runtime: nvidia
    network_mode: "host"
  frontend:
    build:
      context: ./services/frontend/
      dockerfile: ./Dockerfile
    command: npm run dev #can be overriden with $FRONTEND_COMMAND
    environment:
      - FRONTEND_COMMAND #will override the default command above
    network_mode: "host"
    volumes:
      - $HOME/.ssh:/root/.ssh
      - $HOME/.gitconfig:/root/.gitconfig
      - ui:/ui
  fer:
    build:
      context: ./services/fer/
      dockerfile: ./Dockerfile
    environment:
      - FER_COMMAND
      - /home/jacart/jacart-project/dev_ws:/dev_ws # think about getting specific to the repo
    volumes:
      - /home/jacart/jacart-project/dev_ws/FER_DataCollection/OA_SECRET.txt:/mnt/OA_SECRET.txt # grabbing OA_secret
    privileged: true
    runtime: nvidia
    network_mode: "host"
    stdin_open: true
    tty: true