## active
pyyaml
openai
pydantic
numpy==1.26.4
## not sure if these will be needed, check with devs 
# fer
# moviepy==1.0.3
# opencv-python
# tensorflow
# ffmpeg
# argon2-cffi
# python-dotenv
# transforms3d==0.4.1
